<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">

    <test name="MainTest" parallel="false">
        <classes>
            <class name="BattleTest">
                <methods>
                    <include name="checkAuthorizationFormData"/>
                    <include name="checkShopForm"/>
                    <include name="addGameCallOfDutyInBasket"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>